<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veg Diet Chart</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-top: 40px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: left;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .highlight {
            background-color: #f5f5f5;
        }

        .calories {
            font-weight: bold;
        }
        .bottom{
            text-align: center;
            padding:10px;
            background-color: aliceblue;
        }
      
    </style>
</head>
<body>
    <div class="container">
        <h1>Diet Chart For a week</h1>
        <table>
            <tr>
                <th>Meal</th>
                <th>Food</th>
                <th>Calories</th>
            </tr>
            <h1>SUNDAY</h1>
            <tr>
                <td>Breakfast</td>
                <td> 1 cup milk + 2 toasted bread + 5 almonds + 1 apple</td>
                <td class="calories">300</td>
            </tr>
            <tr class="highlight">
                <td>Lunch</td>
                <td>1 cup moong dal + 1 cup bhindi + 2 chapatti + salad</td>
                <td class="calories">360</td>
            </tr>
            <tr>
                <td>Snack</td>
                <td>1 cup milk + 2 biscuits</td>
                <td class="calories">250</td>
            </tr>
            <tr class="highlight">
                <td>Dinner</td>
                <td>1 cup dal + 1 cup potato curry + 1 cup rice + salad</td>
                <td class="calories">500</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Meal</th>
                <th>Food</th>
                <th>Calories</th>
            </tr>
            <h1>MONDAY</h1>
            <tr>
                <td>Breakfast</td>
                <td> Scrambled tofu with vegetables</td>
                <td class="calories">300</td>
            </tr>
            <tr class="highlight">
                <td>Lunch</td>
                <td>Chickpea salad with mixed greens</td>
                <td class="calories">400</td>
            </tr>
            <tr>
                <td>Snack</td>
                <td>Greek yogurt with honey and nuts</td>
                <td class="calories">250</td>
            </tr>
            <tr class="highlight">
                <td>Dinner</td>
                <td>Lentil curry with brown rice</td>
                <td class="calories">540</td>
            </tr>
        </table>
        
        <table>
            <tr>
                <th>Meal</th>
                <th>Food</th>
                <th>Calories</th>
            </tr>
            <h1>TUESDAY</h1>
            <tr>
                <td>Breakfast</td>
                <td>3/4 cup oatmeal cooked in 1 1/2 cup water</td>
                <td class="calories">260</td>
            </tr>
            <tr class="highlight">
                <td>Lunch</td>
                <td>1 serving Whole-Wheat Veggie Wrap</td>
                <td class="calories">350</td>
            </tr>
            <tr>
                <td>Snack</td>
                <td>Greek yogurt with honey and nuts</td>
                <td class="calories">200</td>
            </tr>
            <tr class="highlight">
                <td>Dinner</td>
                <td>1 cup masoor dal + 1 cup snake gourd + 2 chapatti + salad</td>
                <td class="calories">450</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Meal</th>
                <th>Food</th>
                <th>Calories</th>
            </tr>
            <h1>WEDNESDAY</h1>
            <tr>
                <td>Breakfast</td>
                <td>Poha with salad</td>
                <td class="calories">200</td>
            </tr>
            <tr class="highlight">
                <td>Lunch</td>
                <td>Sandwitch with one apple</td>
                <td class="calories">278</td>
            </tr>
            <tr>
                <td>Snack</td>
                <td>Greek yogurt with 1/2 cup raspberriess</td>
                <td class="calories">200</td>
            </tr>
            <tr class="highlight">
                <td>Dinner</td>
                <td>1 cup moong dal + 1 cup ghia vegetable + 2 chapatti + salad</td>
                <td class="calories">500</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Meal</th>
                <th>Food</th>
                <th>Calories</th>
            </tr>
            <h1>THURSDAY</h1>
            <tr>
                <td>Breakfast</td>
                <td>	1 cup milk + 2 vegetable moong dal cheela + 5 almonds</td>
                <td class="calories">200</td>
            </tr>
            <tr class="highlight">
                <td>Lunch</td>
                <td>1 cup chana dal + 1 cup soybean vegetable + 2 chapatti + salad</td>
                <td class="calories">422</td>
            </tr>
            <tr>
                <td>Snack</td>
                <td>(1 cup watermelon juice/1 cup lemonade) + 1 cup chana chaat  </td>
                <td class="calories">250</td>
            </tr>
            <tr class="highlight">
                <td>Dinner</td>
                <td>1 cup soybean vegetable + 2 chapatti + salad</td>
                <td class="calories">478</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Meal</th>
                <th>Food</th>
                <th>Calories</th>
            </tr>
            <h1>FRIDAY</h1>
            <tr>
                <td>Breakfast</td>
                <td>1 cup milk +2 moong dal cheela + 3 walnuts</td>
                <td class="calories">310</td>
            </tr>
            <tr class="highlight">
                <td>Lunch</td>
                <td> 1 cup palak dal + 2 chapatti + 1 cup ghia raita + salad</td>
                <td class="calories">420</td>
            </tr>
            <tr>
                <td>Snack</td>
                <td>1 cup cantaloupe+1 cup sprouts salad</td>
                <td class="calories">200</td>
            </tr>
            <tr class="highlight">
                <td>Dinner</td>
                <td>1 cup mattar paneer vegetable + 1 cup rice + salad</td>
                <td class="calories">400</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Meal</th>
                <th>Food</th>
                <th>Calories</th>
            </tr>
            <h1>SATURDAY</h1>
            <tr>
                <td>Breakfast</td>
                <td>1 cup vegetable idli + 1 cup sambhar + coconut chutney</td>
                <td class="calories">300</td>
            </tr>
            <tr class="highlight">
                <td>Lunch</td>
                <td>1 cup soybean curry + 1 cup rice + salad</td>
                <td class="calories">400</td>
            </tr>
            <tr>
                <td>Snack</td>
                <td>1 cup paneer tikka+1 cup lemonade</td>
                <td class="calories">200</td>
            </tr>
            <tr class="highlight">
                <td>Dinner</td>
                <td>1 cup bhindi + 2 chapatti + salad</td>
                <td class="calories">350</td>
            </tr>
        </table>
        <BR>
        <BR>
            FOR A BETTER OUTCOME FOLLOW THIS FOR A MINIMUM OF A MONTH. 
        <br>
        <br>
        <br>
        IF YOU GET BORED WITH THE SAME KIND OF FOOD ON A PARTICULAR DAY, YOU CAN SWITCH DIET PLANS AND EAT THE MONDAY DIET ON SUNDAY AND VISEVERSA.
        
    </div>
    <br>
    <hr>
<!-- copied part  -->

<section class="bottom">
 <h2 class="topic-detail-heading-two" id="food-items-to-limit">Food Items To Limit</h2>
                    <div class="lybMar-btm lybMar-top">
                <p>Beef
                    <br>
                Chicken
                <br>
                Gelatin
                <br>
                Eggs
                <br>
                Other animal-based products</p></div>
            <h2 class="topic-detail-heading-two" id="do-s-and-dont-s">Do's And Dont's</h2>
                    <div class="lybMar-btm lybMar-top">
                <p>Do's:
                <br>  
                Eat foods rich in, or fortified with calcium
                <br>
                Pair iron-rich foods with vitamin C
                <br>
                Be mindful of protein: About 20% of your total calories should come from protein</p>

                <p>Don'ts:
                    <br>
                Do not eat processed sources of protein
                <br>
                Do not consume sugary desserts and sodas 
                
                Do not get stuck in a diet rut</p>
            <h2 class="topic-detail-heading-two" id="food-items-you-can-easily-consume">Food Items You Can Easily Consume</h2>
                    <div class="lybMar-btm lybMar-top">
                <p>Fruits
                    <br>
                 Vegetables
                 <br>
                 Grain
                 <br>
                 Legumes
                 <br>
                 Nuts
                 <br>
                 Seeds
                 <br>
                 Proteins</p></div>
            </span>
    </div></section>
</body>
</html>




           